body {
	background-color: #f7f7f7;
	font-famyly: sans-serif;
}


#header {
	border: 1px solid #b5b7ba;
	background-color: #dfdfdf;
/*	min-width: 1280px;*/
	height: 50px;
	text-align: right;
	padding-top: 18px;
}

#header a {
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 100;
	text-align: left;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	display: inline-block;
}

#header span {
	width: 50px;
	display: inline-block;
}

#content h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#center {
    /*width: 1280px;*/
    margin: 0 auto;
/*    border-style: dashed;*/
    max-width: 1280px;
    min-width: 1070px;
    min-height: 600px;    
}

/*#content img {
    margin-left: 17px;
    float: left;
    padding-right: 10px;
}

*/
#content_text {
    width: 671px;
    float: right;
/*
    border-width: thin;
    border-style: dotted;
*/
}
#content_text p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;
}

/*#content_text a {
    color: #40678a;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    padding-right:30px;
}*/

#footer {
    border: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    /*max-width: 1280px;
    min-width: 1070px;*/
/*    height: 140px;*/
    margin: 0 auto;
    text-align: right;
    color: #a4a4a4;
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
}

#footer a {
    color: inherit;
}

#footer span {
	width: 50px;
	display: inline-block;

* {
	margin: 0;
	padding: 0;
}